/* main */

.main {
    
    width: 100%;
    height: 130px;
    padding: 10px 0;
    margin-bottom: 44px;
    background-color: #e8ecef;
    z-index: 200;
    text-align: left;
    position: relative;
}

/* .main-wrap {
    width: 1260px;
    margin: 0 auto;
    position: relative;
   
} */

.main-side {
    position: relative;
    float: right;
    width: 262px;
    height:auto;
    
}

.login-wrap {
    display: block;
    
    width: 260px;
    height: 110px;
    margin: 0px 0px 0px 1200px;
    padding: 0;
    border: 1px solid #e3e4e8;
    background-color: #f3f4f6;
    box-sizing: border-box;
}

.login-btns {
    display: block;
    
    padding: 0;
    
    width: 262px;
    margin: -1px 0 0 -1px;
    border: 1px solid #e3e4e8;
    background-color: #fff;
    box-sizing: border-box;
}

li {
    list-style: none;
}

button {
    overflow: visible;
    background: transparent;
    cursor: pointer;
}

.login-btns  > li {
    float: left;
    width: 50%;
    height: 70px;
    text-align: center;
    vertical-align: middle;
} 

.user-login-btn {
    outline: none;
    border-right: 1px solid #e3e4e8;
    width: 130px;
    height: 70px;
    background-color: #fff;
    

}

.company-login-btn {
    outline: none;
    width: 129px;
    height: 70px;
    background-color: #fff;
    line-height: 70px;

}
.user-login-btn > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    line-height : 30px;
    border-right: 1px solid #e3e4e8;
    font-weight: 700;
}

.company-login-btn > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    line-height : 30px;
    border-right: 1px solid #e3e4e8;
    font-weight: 700;
}

.signup-btn {
    display: flex;
    font-weight: bold;
    justify-self: center;
    
    width: 260px;
    height: 21px;
}

.signup-btn > a {
    display: block;
    margin-top: 5px;
    padding: 3px;
    font-size: 12px;
    width: 56px;
}
.banner-lists-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1276px;
    
    padding-right: 40px;
}

.banner-list {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: visible;
    width: 1276px;
    padding-left: 120px;
   
}

.banner-list > li {
    width: 306px;
    height: 214px;
    margin: 0px 13px 13px 0px;
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    float: left;
    position: relative;
    box-sizing: border-box;
    letter-spacing: -0.5px;

}

