/* main */

.main {
    
    width: 1680px;
    height: auto;
    padding: 10px 0;
    margin-bottom: 44px;
    background-color: #e8ecef;
    z-index: 200;
    text-align: left;
    position: relative;
}
.container {

    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-section {
    width: 700px;
    height: 100px;
}

.add-section img {
    width: 100%;
    height: 100%;
}

.login-section{
    display: flex;
    
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    width: 300px;
    height: 150px;
    border: 1px solid #e8ecef ;
    border-radius: 10px;
}

.my-login-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 280px;
    height: 130px;
    border-radius: 10px;
    background-color: #dfe3e68f;
}

.my-login-info > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 70px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
   
}

.my-login-info > a:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    background-color: #b3b7bb8f;
    border: 1px solid #e8ecef;
    border-radius: 10px;

}

.my-login-info > a > i{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.my-login-info button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 30px;
    border: 1px solid #e8ecef ;
    border-radius: 10px;
}

.my-login-info > button:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    background-color: #b3b7bb8f;
    border: 1px solid #e8ecef;
    border-radius: 10px;

}

.my-info-resume {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dfe3e68f ;
    border-radius: 10px;
    width: 150px;
    height: 40px;
}

.my-info-resume > a:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    background-color: #b3b7bb8f;
    border: 1px solid #e8ecef;
    border-radius: 10px;
}

.board-menu {
    width: 1680px;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.board-menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -1px;
    width: 1260px;
    height: 53px;
    cursor: pointer;
}

.board-menu-item h1 {
    font-size: 18px;
}


.board-item-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 1260px;
}

.board-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 306px;
    height: 214px;
    margin-top: 10px;
    /* margin-right: 5px; */
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;
}

.profile-name {
    display: flex;
    justify-content: center;
    padding: 1px;
    margin: 3px;
}

.company-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 306px;
    height: 83px;
    padding: 11px 0px 0px;
}
.company-info img {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    max-width: 180px;
    max-height: 72px;
}





