*{
    margin: 0;
}

div{
    padding: 0;
}
body{
    background-color: #f5f6f8 ;
    font: normal 12px 'Malgun Gothic','맑은고딕', '돋움', Dotum, sans-serif;
    text-align: center;
    color: #333;

}
ul, li{
    list-style: none;
}
li{
    display: list-item;
}

button{
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    background: none;
    cursor: pointer;
}


.social_row{
    width: 579px;
    height: 98px;
}

.social_row li{
    display: inline-block;
}

#btnNvLogin {
    display: inline-block;
    max-height: 44px;
    width: 240px;

}

#wrap{
    width: 640px !important;
    height: 1700px;
    margin: 0 auto;
    text-align: left;
    box-sizing: border-box;
    font: inherit;
    vertical-align: baseline;
    background-color: pink;
    z-index: -1;
}

#header{
    width: 640px;
    height: 214px;
    padding-top: 43px;
    padding-bottom: 0px; 
    position: relative;

    background-color: burlywood;
}

.row_group{
    width: 579px;
    height: 100px;
    padding: 0px 29px 24px;
}

.row_group h4{
    padding-left: 40px;
}














.snb f_clear{
    width: 640px;
    height: 60px;
    background-color: pink;
}

#header >.gnb{
    position: absolute;
    top: 22px;
    right: 0px;
}

.f_clear a {
    list-style: none;
    color: #ccc; 
}
.f_clear a:link { color: #ccc; text-decoration: none;}
.f_clear a:visited { color: #ccc; text-decoration: none;}
.f_clear a:hover { color: #ccc; text-decoration: none;}

.f_clear li{
    display: inline-block;
     
}

.f_clear li:first-child{
    border-right: 1px solid #ccc;
    margin-right: 5px;
    padding-right: 10px;
}

.joinTop{
    text-align: center;
    box-sizing: border-box;
    padding: 42px 0 40px 0;
    width: 640px;
    height: 154px;
    min-height: 154px;

}
.joinTop h2{
    font: normal;
    width: 640px;
    height: 72px;
    /* background-color: chartreuse; */
    font-size: 38px;
    
}

.joinTop h2 > span .slogun_1{
    margin: 5px 10px 0 ;
    width: 620px;
    height: 41px;
    background-image: url(https://i.jobkorea.kr/content/images/member/sprites/mbr_slogun_txt_2.png?v=20190718);
    background-repeat: no-repeat;
}

.skip{

}

li.person_on{
    list-style: none;

}

.person_tab{
    margin: 0;
    padding: 0;
    width: 640px;
    height: 60px;
    border: 1px solid black;
    

}


