*{
    margin: 0;
}

div{
    padding: 0;
}
body{
    background-color: #f5f6f8 ;
    font: normal 12px 'Malgun Gothic','맑은고딕', '돋움', Dotum, sans-serif;
    text-align: center;
    color: #333;

}
a{
    list-style: none;
    color: #888; 
}

ul, li{
    list-style: none;
}
li{
    display: list-item;
}

button{
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    background: none;
    cursor: pointer;
}


#btnNvLogin {
    display: inline-block;
    height: 44px;
    width: 287px;
    border: 1px solid #d2d2d2;

}

.iconNaver{
    position: relative;
    top: 20px;
    width: 20px;
    height: 18px;
    margin-right: 20px;
    background: url(/images/naver.png) 0 0 no-repeat;
    
}
.iconGoogle{
    margin-right: 10px;
    background: url(/images/google.png) 0 0 no-repeat;
}



#wrap{
    width: 640px !important;
    height: 1700px;
    margin: 0 auto;
    text-align: left;
    box-sizing: border-box;
    font: inherit;
    vertical-align: baseline;
    z-index: -1;
}

#header{
    width: 640px;
    height: 214px;
    padding-top: 43px;
    padding-bottom: 0px; 
    position: relative;
}

.joinTop{
    text-align: center;
    box-sizing: border-box;

}

.slogun_1{
    width: 620px;
    /* width: 100%; */
    height: 41px;
    margin: 5px auto 0px;
    background-image: url(../images/20220113_213710.png);
    background-repeat: no-repeat;
    display: block;
    background-color: #ccc;
    background-position: 0% 0%;
    background-size: 100% 100%;
    overflow: hidden;
}

.gnb {
    position: absolute;
    top: 22px;
    right: 0px;
    display: flex;
    min-height: 1px;
    color: #888;
    padding-left: 7px;
}

.gnb a{
    text-decoration: none;
}

.gnb li:first-child{
    margin-right: 3px;
    border-right: 1px solid #888;
    padding-right: 8px;
    text-decoration: none;
}

.gnb li:last-child{
    padding-left: 3px;
}

.member{
    display: flex;
    /* float: left; */
    width: 640px;
    height: 60px;
    padding-top: 0px;
    padding-left: 0px;
}

.member li{
    display: flex;
    align-items: center;
}
.member a{
    text-decoration: none;
    font-size: 22px;
}
/* 개인 회원 */
.person{

     width: 220px;
    height: 60px;
    background-color: white;
    color: #656565;
    border-bottom: 2px solid #3399ff;
    box-sizing: border-box;
}
.person a{
     width: 100%;
    padding-left: 65px;
    font-size: 18px;
}

/* 기업 회원 */
.corp{
   width: 420px;
    height: 60px;
    background-color: #3399ff;  
}


.corp a{   
    color: white;
    width: 100%;
    padding-left: 180px;
    font-size: 22px;
    font-weight: bold;
}

.row_group{
    width: 582.05px;
    background-color: white;
    /* height: 100px; */
    margin: 0px 0px 10px;
    padding: 0px 29px 24px;
}

.row_top{
    height: 130px;
    border: 1px solid #e2e6e9;
}


.row_group h4{
    margin-bottom: 19px;
    padding-top: 35px;
    font-size: 18px;
    font-weight: 400;
}

.row_group ul{
    display: flex; 
    justify-content: space-between;
    padding: 0;
     
}

.mbr_info{
    position: relative;
    width: 640px;
    padding: 0 30px 20px;
    margin-bottom: 10px;
    
    vertical-align: baseline;
    border: 1px solid#e2e6e9;
    box-sizing: border-box;   
}

.subTx{
    position: absolute;
    right: 30px;
    top :41px;
    font-size: 11px;
    
    color: #9d9d9d;
}

strong{
    font-size: 16px;
    color: #ff3333;
}


.row{
    position: relative;
    display: block;
    margin-bottom: 10px;
    font-size: 0;

}

.col_1{
    z-index: 10;
    position: absolute;
    left: 12px;
    top: 19px;
    transition: all 0.2s;
    font: inherit;
}

#insaID{
    width: 225px;
}

.col_1 label{
    color: #afb0b2;
    font-size: 16px;
    transition: all 0.2s ease-out;
}

.col_2{
    position: relative;
    width: 100%;
    height: 62px;
    padding: 0 12px;
    box-sizing: border-box;
    border: 1px solid #ddd;
}

.row mbr_name{
    display: flex;
    float: left;
}

.first_mbr_name{
    display: inline-block;
    width: 225px;
}

.second_mbr_name{
    margin-left: 15px;
    display: inline-block;
    width: 284px;
}

.second_mbr_name > .col_1 {
    position: absolute;
    left: 250px;
}

 





.mbr_email p{
    display: block;
    font-size: 12px;
    color: #666666;
    padding: 15px 0 5px 0px;

}

input{
    display: block;
    width: 100%;
    height: 60px;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-size: 16px;
    color: #333;
    background-color: transparent;
}

.regist_complete{
    width: 100%;
    height: 75px;

    margin: 0;
    padding: 0;

    border: 0;
    margin-top: 30px;
    background-color: transparent;
}

.mbrBtnRegist{
    width: 100%;
    height: 75px;
    background-color: #3399ff;
    color: white;
    font-size: 21px;
    font-weight: bold;
    border: none;
}





/* ------------------------- */






.snb f_clear{
    width: 640px;
    height: 60px;
    background-color: pink;
}

#header >.gnb{
    position: absolute;
    top: 22px;
    right: 0px;
}

.f_clear a {
    list-style: none;
    color: #ccc; 
}
.f_clear a:link { color: #ccc; text-decoration: none;}
.f_clear a:visited { color: #ccc; text-decoration: none;}
.f_clear a:hover { color: #ccc; text-decoration: none;}

.f_clear li{
    display: inline-block;
     
}

.f_clear li:first-child{
    border-right: 1px solid #ccc;
    margin-right: 5px;
    padding-right: 10px;
}

.joinTop{
    text-align: center;
    box-sizing: border-box;
    padding: 42px 0 40px 0;
    width: 640px;
    height: 154px;
    min-height: 154px;

}
.joinTop h2{
    font: normal;
    width: 640px;
    height: 46px;
    /* background-color: chartreuse; */
    font-size: 38px;
    padding-top: 26px;
    
}

.joinTop h2 > span .slogun_1{
    margin: 5px auto 0px ;
    width: 620px;
    height: 41px;
    background-image: url(https://i.jobkorea.kr/content/images/member/sprites/mbr_slogun_txt_2.png?v=20190718);
    background-repeat: no-repeat;
}

.skip{

}

li.person_on{
    list-style: none;

}

.person_tab{
    margin: 0;
    padding: 0;
    width: 640px;
    height: 60px;
    border: 1px solid black;
    

}




