/* -- 전체 설정 -- */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    letter-spacing: 0.4px;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    margin-top: 80px;
}
div {
    display: block;
}

a {
    color: #494949;
    text-decoration: none;
    cursor: pointer;
    font-weight: normal;
}

ul {
    list-style: none;
}

.container {
    width: 935px;
    margin: 30px auto 0px;
}